@page
@model RepairMvc.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Admin Index</h1>


<div>
    <ul>
        <li><a href="Test">TestPage</a></li>
    </ul>
</div>

<div id="app">

    <button v-on:click="getProducts">Get Products</button>
    <div>
        <p v-for="(product, index) in products">
            {{product.productId}} - {{product.name}} - {{product.partType}} - {{product.price}}
            {{product.description}}
            <button v-on:click="editProduct(product, index)">Edit</button>
            <button v-on:click="deleteProduct(product.productId)">Remove</button>
        </p>
    </div>

    <div>
        <input v-model="productModel.name" />
        <input v-model="productModel.description" />
        <input v-model="productModel.partType" />
        <input v-model="productModel.price" />

        <button v-on:click="createProduct">Create Product</button>
        <button v-on:click="updateProduct">Update Product</button>
    </div>

</div>

<!--
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].PartType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Product)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
-->

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="~/js/admin/main.js"></script>
}